<section class="card">
  <a href="/project/{{project.id}}"></a>
    <header>{{project.title}}</header>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}">
      <p>By: {{artist}}</p>
    </div>
  </a>
</section>