<section class="card">
  <a href="/projects/{{id}}">{{project.title}}</a>
  <h4 class="project-random">{{project.content}}</h4>
  <p>Created by {{project.user.username}} on {{format_date project.date_created}}</p>
</section>